<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes da Atividade</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'ieb/css/detalhe.css' %}">
    <link rel="stylesheet" href="{% static 'ieb/css/lightbox.css' %}">
</head>
<body>
    <div class="container">
        <h1>Detalhes da Atividade</h1>

        <label>Projeto:</label>
        <div class="field-value">{{ atividade_registro.projeto.nome }}</div>

        <label>Componente:</label>
        <div class="field-value">{{ atividade_registro.componente.nome }}</div>

        <label>Atividade:</label>
        <div class="field-value">{{ atividade_registro.atividade.nome }}</div>

        <label>Equipe Responsável:</label>
        <div class="field-value">{{ atividade_registro.equipe_projeto.equipe.nome }}</div>

        <label>Data Início:</label>
        <div class="field-value">{{ atividade_registro.data_inicio }}</div>

        <label>Data Final:</label>
        <div class="field-value">{{ atividade_registro.data_final }}</div>

        <label>Descrição:</label>
        <div class="field-value">{{ atividade_registro.descricao }}</div>

        <label>Local:</label>
        <div class="field-value">{{ atividade_registro.local }}</div>

        <label>Comentários:</label>
        <div class="field-value">{{ atividade_registro.comentarios }}</div>

        <label>Desafios:</label>
        <div class="field-value">{{ atividade_registro.desafios }}</div>

        <label>Propostas:</label>
        <div class="field-value">{{ atividade_registro.propostas }}</div>

        <label>Sucesso:</label>
        <div class="field-value">{{ atividade_registro.sucesso }}</div>

        <label>Melhores Práticas:</label>
        <div class="field-value">{{ atividade_registro.melhores_praticas }}</div>

        <label>Fotos:</label>
        <div class="field-value">
            {% if atividade_registro.fotos_thumbnail %}
                <img id="thumbnail" src="{{ atividade_registro.fotos_thumbnail.url }}" alt="Fotos Miniatura" style="cursor: pointer;">
            {% elif atividade_registro.fotos %}
                <img id="thumbnail" src="{{ atividade_registro.fotos.url }}" alt="Fotos Original" style="max-width: 300px; height: auto; cursor: pointer;">
            {% else %}
                <p>Nenhuma foto disponível.</p>
            {% endif %}
        </div>

         <!-- Lightbox para visualização ampliada -->
         <div id="lightbox" class="lightbox">
            <span class="close" id="close-lightbox">&times;</span>
            <img id="lightbox-img" src="" alt="Visualização Ampliada">
        </div>

        <label>Lista de Presença:</label>
        <div class="field-value">{{ atividade_registro.lista_presenca }}</div>

        <h2>Indicadores Registrados</h2>

        {% if parcerias %}
            <h3>Parcerias</h3>
            <ul>
                {% for parceria in parcerias.parcerias.all %}
                    <li>{{ parceria.nome }} - {{ parceria.tipo }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if treinados %}
            <h3>Pessoas Treinadas</h3>
            <p>Total: {{ treinados.total_pessoas }}</p>
            <p>Homens: {{ treinados.homens }}</p>
            <p>Mulheres: {{ treinados.mulheres }}</p>
            <p>Jovens: {{ treinados.jovens }}</p>
            <p>Foco do Treinamento: {{ treinados.get_foco_treinamento_display }}</p>
        {% endif %}

        <!-- Outros indicadores, como capacitados, produtos, contratos, etc. -->
        
        <div class="navigation-buttons">
            <a href="{% url 'atividade_registro_anterior' atividade_registro.id %}" class="btn btn-primary">Anterior</a>
            <a href="{% url 'atividade_registro_proximo' atividade_registro.id %}" class="btn btn-secondary">Próximo</a>
        </div>
    </div>
    <script src="{% static 'ieb/js/lightbox.js' %}"></script>
</body>
</html>
